{% from "_formhelpers.html" import render_field %}
<html>
    <head>
        <title>Comments</title>
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        <form method="POST" action="/">
            {{ form.csrf_token }}
            {{ render_field(form.comment) }}
            {{ render_field(form.submit) }}
        </form>
        {{ table }}
    </body>
</html>